

.define-terms-modal{
    overflow-y:hidden !important;
    top:10% !important;
    .modal-dialog{
        width:500px !important;
    }

    .modal-body{
        textarea{width:100%;height:150px;border:0;}
        input,textarea,select{
            width:100% !important; background-color:#fff;
            overflow-x:hidden;
            border:1px solid #ddeef0;border-radius:5px;
        }
        .item{margin-top:10px !important;}
        .capish-btn{width:auto !important;cursor:pointer}
    }
    .autocomplete-container{
        input div{
            left:10px !important;
        }
    }

}

.capish-modal{
    direction:rtl;
    
    top:20%;

    .modal-dialog{


        .modal-content{border-radius:20px;}
        width:300px;
        
        .top-title{color:#41b2ba;font-weight:bold;font-size:22px;}
        .capish-logo-img{width:200px;}

        .close{float:left !important;position:relative;top:5px;color:#41b2ba;font-weight:bold;opacity:1;font-size:30px;}

        .modal-header{border-bottom:1px solid #3e2e1d;}

        .modal-body{

            .item{

                margin-top:20px;
            
            }

            input{
                border:0;border-radius:10px;padding:5px 8px;width:90%;
            }
            

            .title-top{font-size:18px;}
            background-color:#f0f0f0;
            padding-bottom:10px;
            
            .capish-btn{
                margin-top:50px;margin-bottom:10px;
                width:90%;
                .fa-envelope{float:left;margin-left:10px;position:relative;top:1px;font-size:20px;}
            }

            .register-here-q{margin-top:30px;font-size:18px;}
            .register-here{color:#41b2ba;font-weight:bold;font-size:18px;}

        }

        .modal-footer{background-color:#f0f0f0;border:0;border-bottom-right-radius:20px;border-bottom-left-radius:20px;}
    
    }
}


.confirm-box{
    .modal-header{border-bottom:0 !important;background-color:#f0f0f0;

        border-top-left-radius:20px;
        border-top-right-radius:20px;
    }    

    .confirm-box-message{text-align:center;}
    .btns-row{text-align:center;
        button{display:inline-block;}
    }
}


.reg-modal{
    
    .modal-body{

        select{width:90%;}

        label{width:90%;text-align:right;margin-bottom:10px;margin-top:10px;}

    }

}

.load-document-modal{
    
    .user-documents{

        text-align:center;

        .document-box{
            width:90%;
            text-align:right;
            padding:4px 5px;
            border:1px solid #41b2ba;
            margin:10px 0;
            border-radius:5px;
            display:inline-block;
        }

        .document-box:hover{
            cursor:pointer;
            background-color:#cef2f5;
            border-radius:5px;
        }
        .document-box.chosen{
            background-color:#41b2ba;
            border-radius:5px;

        }

    }
    
}


.chapters-selection-modal{
    select{background-color:#fff;border:1px solid #000;}
    .dropdown-chapter{width:50px;}
    .dropdown-para{width:50px;}
    .dropdown-book{width:80px;}

    .modal-title{color:#41b2ba;}

}