
.example-enter{
    opacity:0.01;
}
.example-enter.example-enter-active{
    opacity:1;
    //transition:opacity 300ms ease-in;
    transition:all 100ms ease-in;
}
example-leave{
    opacity:1;
}
.example-leave.example-leave-active{
    opacity:0.01;
    transition:opacity 300ms ease-in;
}


.control-bar-stripe{width:100%;position:absolute;height:60px;background-color:#41b2ba;z-index:-1;top:0px;}
.control-bar{
    
    
    
    .container{
        display:flex;
    }

    .toggle-button{display:none;}

    


    width:100%;
    position:fixed;
    z-index:2;
    top:50px;
    background-color:transparent;
    text-align:center;
    display:flex;
    align-items:center;

    .selected{color:#fff;}

    .left-container{
        
        

        flex:1;
        display:flex;
        align-items:flex-start;
        list-style:none;

        li{
            color:#fff;
            margin-left:8px;margin-right:0px;cursor:pointer;margin-top:16px;
            font-size:20px;
        }
        li:after{
            content:" | ";
            color:#000;
        }
        li:last-child:after{content:""}
        
        li.search-icon{
            background-color:#fff;
            margin-top:9px;
            padding:6px;
            border-radius:5px;
            width:fit-content;
            border:1px solid black;
            img{width:25px;}
        }
    }

    .right-container{

        .toggle-generic-titles-container > div{ bottom:20px;right:65px;}
        
        padding-left:50px;
        flex:1;
        padding-top:15px;
        list-style:none;
        li{
            float:left;
            color:#fff;
            font-size:20px;
            
        }
    }

    
    .icons-container{
        
        position:relative;
        flex-wrap:wrap;
        display:flex;
        align-items:center;
        flex-direction:row;
        max-width:270px;
        
        
        width:fit-content;
        margin-top:6px;
        padding-top:0px;
        background-color:#fff;
        border-radius:5px;
        border:1px solid #000;

        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        
        .keywords-icon{position:relative;top:4px;}

        ul{

            padding:0 !important;
            width:100%;
            list-style:none;
            display:flex;

            li{
                cursor:pointer;    
                float:left;
                margin-right:15px;
                margin-left:15px;
                img{width:40px;margin-top:2px;}
            }

        }

        .show-title{
        display:flex;
        width:100%;border-top:1px solid #000;
        font-size:14px;color:#41b2ba;font-weight:bold;
        text-align:right;padding-right:9px;padding-top:5px;

        }
        .words-container{

            .close-words-container.show{
                opacity:1;
                transition:opacity 0.5s;
            }
            
            .close-words-container{
                opacity:0;

                position:absolute;
                bottom:-5px;left:-14px;
                cursor:pointer;

                i{
                    background-color:#fff;
                    font-size:20px;
                    padding:3px 7px;
                    border:1px solid #000;
                    border-radius:30px;
                    
                    color:#41b2ba;

                    }
            }

            position:relative;
            padding:5px 0;
            width:100%;
            ul{
                display:inline-block;
                font-size:14px;
                list-style:none;
                li.colored-word{
                    min-width:45px;
                    float:right;margin-left:0px;margin-right:10px;
                    margin-top:10px;
                    padding:1px 1px;
                }
            }
        }

        

        img.pin{width:35px;height:41px;}

        
    }
}
