
.text-para::-moz-selection { background-color:#41b2ba !important; color:#fff;}
.text-para::selection { background-color:#41b2ba !important; color:#fff;}
.text-para .selected-text{background-color:#41b2ba !important;color:#fff;padding:4.2px 0;}


.text-line .para-num,.title-box,.chapter-title{
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#4f797c;
}

.chapter-title{font-size:1.2em;font-weight:bold;margin-bottom:15px;margin-top:15px;}


#cmenu{
    padding:10px 18px;

    width:250px;
    
    backgroundColor:#fff;
    border-radius:10px;
    border:1px solid #000;
    height:fit-content;

    .row{display:flex;
        align-items:center;

        .icon-item{
            padding:0;margin:0 4px;
            overflow:hidden;
            
            .ii-title{font-size:11px;text-align:center;}
        }
        .menu-icon{height:42px;cursor:pointer}
    }

    

}
