.navbar-default{

    border-color: #e7e7e7;
}

.navbar{


    position:fixed;
    width:100%;
    z-index:99;
    top:0;

    .dropdown-menu{text-align:right !important;}
    color:#fff;
    a,a:hover{color:#fff;}
    margin-bottom:0;

    .capish-logo{
        img{position:relative;width:130px;bottom:15px}
    }
    .hertzog-logo{
        img{width:100px;position:relative;bottom:15px;}
    }

    .document-title:hover .edit-pen-icon{display:block;}
    
    .document-title{
        
        
        //border:1px solid red;
        padding-left:20px;
        color:#000;position:absolute;
        left:43%;font-size:22px;font-weight:bold;top:10px;
        font-family:TaameyFrankCLM;
        width:200px;
        height:25px;
        
        .edit-pen-icon{display:none;position:absolute;left:-14px;top:-3px;width:30px;pointer:cursor}

        .far.fa-save{position:absolute;left:-14px;top:3px;}
    }

    .document-title.edited{padding:0 !important;

        input{padding-top:5px;
        padding-bottom:5px;
        border-radius:5px;
        border:1px;
        border-style: solid;
        height:30px;

        }
    }





}


