.home-view{
    
    direction:rtl;

    .navbar{
    padding-top:22px;



    }

    .nav-items{
        position:relative;
        top:10px;

        ul{
            list-style:none;
            
        } 
        .nav-left{text-align:left;
            li{float:left;}
        }
        .nav-center{

            text-align:center;
            color:#000000;
            
            ul{
                margin-top:4px;
                font-size:18px;
                display:inline-block;
                
                li{
                    margin-left:25px;
                    float:left;
                    
                }


                li:hover{text-decoration:underline;cursor:pointer;}
                
                li::before{content:"|";margin-left:25px;}
                
                li::before:hover{text-decoration:none;}
                li:hover::before{text-decoration:none !important;}

                li:last-child:before{content: '';}

            }
            
        }
        .nav-right{

            .hertzog-logo{
                img{
                    width:90px;
                    position:relative;
                    bottom:8px;
                }
            }
            .capish-logo-new img{

                width:130px;
                position:relative;
                bottom:10px;
            }
            text-align:right;

            li{float:right;}
        }
    }
    
    .student-code-input{
        padding:6px;
        font-size:15px;
        border-radius:8px;
        width:150px;
        border:1px solid #242424;
        direction:rtl;

    }

    .student-submit-btn{
        margin-right:10px;
        background-color:#41b2ba;
        padding:7px 8px;
        color:#ffffff;
        font-weight:bold;
        font-size:15px;
        border-radius:8px;
        border:0;
    }

    section.body{

        
        .lamp-container{
            text-align:right;
        }

        .lamp-img{

            width:55%;
            margin-top:15%;
            margin-right:10%

        }

        .description-container{text-align:left;}
        .description-box{
            
            margin-top:25%;
            width:80%;
            
            div{text-align:right;}

            .title{margin-bottom:30px;font-size:40px;
                span{font-weight:bold;}
            }

            .sub-title{font-size:30px;}


        }


    }


}