.capish-button{
    background-color:#2dbfbe;color:#fff;font-weight:bold;padding:4px 8px;border-radius:8px;border:0;
}



.personal-area-view{
    
    
    .brand-img{
        text-align:center;margin-bottom:40px;

        img{width:150px;display:inline-block;}
    }
    

    .document-box{

        
        position:relative;
        width:400px;
        
        float:right;
        margin-top:30px;
        margin-right:30px;
        border:1px solid #000;
        border-radius:8px;
        background-color:#fff;
        
        .document-menu.show{display:block;}
        
        .document-menu{
            

                
                display:none;
                position:absolute;
                left:-110px;top:5px;border:0;width:150px;
                z-index:99;
                padding:0 5px 0 0;
                display:none;
                z-index:99;
                font-weight:normal;font-size:12px;
                left:-130px;top:5px;
            

            .inner{
                
                margin:0;
                border:1px solid #000;
                background-color:#fff;
                padding:5px;
                list-style-position:inside;
                list-style-type:none;
                li{
                    margin-top:8px;

                }

                li:hover{color:#2dbfbe;cursor:pointer;}
                li:first-child{margin-top:3px;}
                color:#000;

            }


            
        
        }
        .menu-icon{position:absolute;left:15px;top:12px;width:8px;}

        .share-with{
            position:absolute;left:20px;bottom:15px;
            img{width:30px;}
        }

        .doc-owner{position:absolute;right:30px;bottom:15px;

            .user-circle{border:2px solid #2dbfbe;border-radius:20px;padding:5px 7px;font-size:11px;margin-left:8px;}
        }

        .doc-header{padding-top:2px;padding-right:2px;}

        input:focus{
            outline:none;
            border:0;
            border-width:0px;
            border:none;
        }
        .doc-edit-title{
            
            padding:8px;
            border-width:0px;
            border:none;

        }
        .doc-title{
            padding:8px;    
            color:#2dbfbe;font-weight:bold;font-size:16px;
            border-bottom:1px solid #000;

        }

        .doc-body{

            border-bottom-right-radius:8px;
            padding:8px;
            overflow:hidden;
            min-height:80px;

            background-color:#e5e5e5;


        }

    }    

    .left-container{

        background-image:url('../img/personal-area-bg.svg');
        background-repeat:no-repeat;
        background-size:80%;
        background-position:center center;
        padding-top:50px;

    }

    .right-container{

        padding-top:80px;
        -webkit-box-shadow: -7px 0px 21px -4px rgba(36,36,36,1);
        -moz-box-shadow: -7px 0px 21px -4px rgba(36,36,36,1);
        box-shadow: -7px 0px 21px -4px rgba(36,36,36,1);

        height:100%;
        position:fixed;



            
            ul.side-menu-items:before{
                content:attr(aria-label);
                font-size:120%;
                font-weight:bold;
                margin-left:-15px;
            }

            ul.side-menu-items{


                list-style-type:none;

                
            }


            
        


        
        
        
    }


    .container{
        position:absolute;
        height:100%;
        display:table;
        width: 100%;
        box-sizing: border-box;
    }


    .row {

        height: 100%;
        display: table-row;
    }

    .row .no-float {
      display: table-cell;
      
    }


    
}