//StudyPage.scss

@font-face {
  font-family: 'TaameyFrankCLM';
  src: url('./../fonts/Taamey-Frank/TaameyFrankCLM-Medium.ttf')  format('truetype'),   
}

@font-face{
    font-family: 'almoni-tzar400';
    src: url('./../fonts/almoni/almoni-tzar-aaa-400.ttf') format('truetype'), 
}


@font-face{
    font-family: 'almoni-tzar300';
    src: url('./../fonts/almoni/almoni-tzar-aaa-300.ttf') format('truetype'), 
}


@font-face{
    font-family: 'OpenSansHebrewRegular';
    src: url('./../fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf') format('truetype'), 
}


@font-face{
    font-family: 'frankruehl';
    src: url('./../fonts/frankruehl/frankruehl-aaa-400.ttf') format('truetype'),
       url('./../fonts/frankruehl/frankruehl-aaa-400.woff') format('woff'); 
    src: url('./../fonts/frankruehl/frankruehl-aaa-400.eot'); 
}





.body-text{

    direction:rtl;text-align:right;padding:50px;
    font-family:TaameyFrankCLM;
    font-size:16px;
    margin-top:60px;

    .text-box{
        text-align:justify;
    }
    .text-line{

        
        line-height:40px;
        
        .text-para{
            color:#2b2f30;
            font-size:19px; 
        }

        .para-num{width:33px;display:inline-block;padding:0 8px 0 21px}


        .location{
   
        }

        .location.show-location{
            background-color:#41b2ba;
            display:inline-block;
            color:#fff;
        }

        .unknown.show-unknown{
            background-color:#a3c459;
            display:inline-block;
            color:#fff;
        }

        .person.show-person{
            background-color:#f3af1c;
            display:inline-block;
            color:#fff;
        }

    }

}

.highlight{}
.highlight.show-comment{background-color:#fcfb80;}


.question-box.view-mode.opened-question{
        
        .opened-q-title{
            margin-top:25px;
            font-weight:bold;
        }

        .opened-question{
            margin-top:10px;
            padding:3px 10px;
            width:90%;
            background-color:#fff;
            border:1px solid #000;
            border-radius:8px;
        }
        .opened-answer textarea{
            width:90%;border-radius:8px;
            padding:3px 10px;
            background-color:#fff;height:120px;border-color:#000;margin-top:25px;
        }
}


.question-box{

    
    input{border:1px solid #000;}
    textarea{border:1px solid #000;}

    .fa-trash-alt{position:absolute;left:10px;top:10px;cursor:pointer;}
    .fa-edit{position:absolute;left:30px;top:10px;cursor:pointer;}
    position:relative;
    margin:20px 0;
    padding:20px;
    width:400px;
    background-color:#f2f2f2;
    .question{font-weight:bold;margin-bottom:15px;margin-top:20px;}
    border:1px solid #41b2ba;
    border-radius:8px;

    .answers-list{list-style:none;}
    .answers-list li{margin-top:10px;}
    .answers-list input{margin-left:10px;position:relative;top:2px;border:1px solid #fff;}

}

.title-box{
    
    margin:20px 0;
    font-size:1.2em;
    
    position:relative;
    border:1px solid #000;
    border-radius:8px;
    

    .user-circle{

            
        position: absolute;
        right: -14px;
        bottom: 28px;
        border-radius: 14px;
        border: 1px solid #41b2ba;
        font-size: 17px;
        color: #41b2ba;
        padding: 0px 9px 2px 0;
        background-color: #ffffff;
        width: 25px;
        font-weight: bold;
        height: 25px;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);


    }


    .title-input:focus{
        outline:none;
    }

    .title-input{
        border-radius:8px;
        border:0;
        width:100%;
        padding-right:5px;
        height:36px; 
        
    }

    .title{
        padding:4px 5px;
    }


    .title-hover{
        
        
        border:0;
        position:relative;
        

        .fa-check{
            position:absolute;
            left:-25px;
            top:7px;
            color:#41b2ba;
            cursor:pointer;
        }

        .fa-times{
            position:absolute;
            left:-47px;
            top:7px;
            color:#41b2ba;
            cursor:pointer;
        }

        .fa-trash-alt{
            position:absolute;left:20px;
            top:8px;
            font-size:17px;
            color:#41b2ba;
            cursor:pointer;

        }

        .edit-pen-icon{
            position:absolute;left:40px;
            top:4px;
            width:25px;
            cursor:pointer;
        }

    }


}

.comment-box{
    .body{text-align:right;}    
    
    .im-container{
        margin-top:30px;text-align:center;
        img{width:100%;display:inline-block;}
    }
    .body-container .body{height:auto;}
}

.new-comment-box{


        font-family:TaameyFrankCLM;
        width:400px;
        min-height:150px;
        height:fit-content;
        background-color:#f2f2f2;
        position:fixed;
        top:25%;
        left:5%;
        border:1px solid #000;
        border-radius:10px;
        padding:0;

        .add-image-label{text-align:right;}

        .line{padding:10px;text-align:right;}

        .title{width:100%;border-bottom:1px solid #000;padding:10px;
            color:#41b2ba;font-weight:bold;font-size:18px;padding-right:30px;
            background-color:#fff;
            border-top-right-radius:10px;
            border-top-left-radius:10px;
            .fa-trash-alt{position:absolute;left:10px;top:13px;}
            text-align:right;
            .title-img{width:20px;margin-left:10px;position:relative;bottom:2px;}
        }
        .body-container{

            select,input,textarea{background-color:#fff;border-color:#000;}

            padding:10px;
            background-color:#f2f2f2;

            border-bottom-right-radius:10px;
            border-bottom-left-radius:10px;

            text-align:center;
            
            .ui.search.dropdown>.text{top:4px;}
            .selection{

                width:90%;margin-top:5px;
                display:inline-block;

            
                div[role=combobox]{
                    text-align:right !important;
                    min-height:auto !important;
                    height:30px !important;
                    border:1px solid #000;
                    border-radius:5px;
                    width:100% !important;
                    padding:.18571429em 2.1em .78571429em 1em !important;
                    input.search{padding:0.5em 2.1em 0.17em 1em !important;}
                }

                

                div[role=listbox]{
                    border:1px solid #000 !important;
                    border-bottom-right-radius:5px;
                    border-bottom-left-radius:5px;
                    border-top-width:0 !important;

                }

                div.text{font-size:16px !important;}

                .item{text-align:right !important;
                    .text{font-size:16px !important}
                }
                .circular{margin-left:10px !important;}


    
                .default.text{font-size:17px !important;position:relative;top:4px;color:#3e2e1d;}
                i.dropdown.icon{padding:3px !important;margin-right:1px;}

                input.search{padding:.6em 2.1em .17857143em 1em !important;font-size:16px !important;
                font-family:TaameyFrankCLM !important;
                
                }
                
            }
            .body{


                width:90%;margin-top:20px;

                display:inline-block;

                textarea{
                    width:100%;
                    height:100px;
                    border-radius:5px;
                }


            }

        }

        .buttons-container{
            
            margin-top:15px;
            margin-bottom:20px;
            background-color:#f2f2f2;
            overflow:hidden;
            margin-left:30px;

            
            .btn:hover{color:#fff;background-color:#41b2ba;}
            .btn{

                height:24px;
                padding:1px 12px 0 12px;
                float:left;
                border:2px solid #41b2ba;
                margin-right:20px;
                border-radius:12px;
                background-color:#fff;
                color:#41b2ba;
                font-size:16px;

            }
            

        }
}





.new-question-box{

        .edit-q-icon{width:35px;margin-left:10px;position:relative;bottom:3px;}
        direction:rtl;
        font-family:TaameyFrankCLM;
        width:400px;
        margin-top:15px;
        margin-bottom:15px;
        min-height:200px;
        height:fit-content;
        background-color:#fff;
        border:1px solid #000;
        border-radius:10px;
        padding:0;

        .q-type{
            text-align:center;
            .q-title{font-size:20px;}
            .q-type-btn{
                background-color:#fff;width:70%;border-radius:7px;margin-top:20px;display:inline-block;border:1px solid #f2f2f2;
                padding:5px 0 1px 0;
                cursor:pointer;
            }
            .q-type-btn:nth-last-child{margin-bottom:40px;}
        }

        .open-q{
            textarea{height:150px;background-color:#fff;width:90%;}
        }

        .title{width:100%;border-bottom:1px solid #000;padding:10px;color:#41b2ba;font-weight:bold;font-size:18px;padding-right:30px;}
        
        .body-container{

        
            
            
            border-bottom-right-radius:10px;
            border-bottom-left-radius:10px;
        

            padding:10px;
            background-color:#f2f2f2;

            text-align:center;

            .selection{

                width:90%;margin-top:20px;
                display:inline-block;

                select{width:100%;
                    border-radius:5px;
                }
            }
            .body{


                .add-answer{cursor:pointer;color:#41b2ba;}

                width:90%;height:100px;margin-top:20px;

                display:inline-block;

                textarea,input{

                    margin-bottom:15px;
                    border:0;
                    border-radius:5px;
                    padding:5px;


                    
                }

                .question-row{position:relative;right:0px;}

                input[type=checkbox] {
                    font-family: "Font Awesome 5 Free";
                    -moz-appearance:none;
                    -webkit-appearance:none;
                    -o-appearance:none;
                    outline: none;
                    content: none;  
                    position:absolute;
                    right:25px;
                }

                input[type=checkbox]:before {

                    content: "\f00c";
                    font-size: 15px;
                    color: transparent !important;
                    background: transparent;
                    display: block;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #41b2ba;
                    margin-right: 7px;
                }

                input[type=checkbox]:checked:before {

                    color: #41b2ba !important;
                    font-size:9px;
                    position:relative;

                }


                input[type='text']{width:90%;
                    border:1px solid #000;
                }
                
                .question{margin-bottom:30px;
                    border:1px solid #000;
                }

                textarea{

                    border:1px solid #000;

                }

            }

        }

        .buttons-container{
            margin-top:20px;
            margin-bottom:20px;
            background-color:#f2f2f2;
            overflow:hidden;
            margin-left:30px;

            
            .btn{

                float:left;
                border:2px solid #41b2ba;
                height:auto;
                padding:3px 15px 2px 15px;
                color:#41b2ba;
                font-size:17px;
                margin-right:20px;
                border-radius:12px;
                background-color:#fff;

            }
            .btn:hover{background-color:#41b2ba;color:#fff;}
            

        }
}



.commentary-box{

    text-align:right;
    font-family:TaameyFrankCLM;
    
    min-height:300px;
    height:fit-content;
    background-color:#fff;
    position:fixed;
    top:110px;
    left:0;
    border:0;
    border-radius:0px;
    padding:0;
    background-color:#f2f2f2;
    max-width:350px;

    -webkit-transition: width 1s; 
    transition: width 1s; 
    
    height: -webkit-calc(100% - 110px);
    height:    -moz-calc(100% - 110px);
    height:         calc(100% - 110px);

    -webkit-box-shadow: 10px 0px 26px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 10px 0px 26px 0px rgba(0,0,0,0.23);
    box-shadow: 10px 0px 26px 0px rgba(0,0,0,0.23);

    width:0;
    
    overflow-y:scroll;
    text-align:right;
    .body-container{padding:10px 0 3px 3px;}

    .spinner{
            display:none;
            text-align:center;
            img{display:inline-block;
            width:60px;
            margin-top:40%;
            }
    }
    .spinner.show{
        display:block;
    }

    .commentary-content{

        text-align:right;
        .commentary-title{text-decoration:underline;font-size:1.2em;}
    
    }

    .close-box{
        position:absolute;top:9px;left:10px;cursor:pointer;
        font-size:16px;

    }

    .fas.fa-times{color:#44b2b9;position:relative;top:4px;}

    .commentaries-list{
        
        list-style:none;
        direction:rtl;
        text-align:right;
        li{ 

        .commentary-group{
            position:relative;
            .group-toggle{position:absolute;left:10px;top:5px;}
            -webkit-transition: height 1s; 
            transition: height 1s; 

            border:1px solid grey;
            margin-bottom:6px;padding:2px 10px 2px 0;
            font-size:1.2em;
            text-align:right;cursor:pointer;

        }

            
        }
    }

    .title{
        padding:7px 40px 7px 0;
        //border-top:1px solid #000;
        border-bottom:1px solid #000;
        font-weight:bold;
        color:#41b2ba;
        font-size:20px;

        .commentary-icon{width:35px;margin-left:5px;position:relative;left:7px;}

    }

}

.location-box{
    
    
    .title{font-size:24px !important;}
    .pinIcon{width:25px;position:relative;bottom:3px;margin-left:10px;}
    .close-icon{position:absolute;font-size: 21px;color: #41b2ba;top: 13px;left: 15px;cursor:pointer;}
    
    .body-container{

        .location-title{display:inline-block;padding:3px 4px 2px 4px;font-size:20px;margin:20px;background-color:#41b2ba;color:#fff;}
        .periods-title{font-weight:bold;font-size:18px;margin-top:10px;}
        .periods{font-size:18px;}
        .few-words-title{font-weight:bold;font-size:18px;margin-top:10px;}
        .few-words{font-size:18px;}
        .para-quote {
             .location.show-location{
                    background-color:#41b2ba;
                    display:inline-block;
                }
         }
     text-align:right !important;
     min-height:350px !important;
     top:10%;
    .map-container{margin:20px 0;height:250px;}
    .buttons-container{margin-top:30px;}
    }
}


.person-box{

    .para-quote{text-align:center;}



    .description{
        text-align:right;
        padding:20px 20px 50px 20px;

    }

    .buttons-container{
        position:absolute;
        bottom:30px;
        left:30px;
        margin:0 !important;
    
    }
    
}

.capish-common-box{

        text-align:right;
        font-family:TaameyFrankCLM;
        width:400px;
        min-height:300px;
        height:fit-content;
        background-color:#fff;
        position:fixed;
        top:20%;
        left:5%;
        border:1px solid #000;
        border-radius:10px;
        padding:0;
        background-color:#f2f2f2;

        .spinner{text-align:center;
            img{display:inline-block;
            width:80px;
            margin-top:50px;
            }
        }

        .title{
            border-top-right-radius:9px;
            border-top-left-radius:9px;
            width:100%;border-bottom:1px solid #000;padding:10px;color:#41b2ba;font-weight:bold;font-size:18px;padding-right:30px;
            background-color:#fff;
            border-color:#000;
        }
        .body-container{

            border-radius:10px;
            padding:10px;
            background-color:#f2f2f2;

            text-align:center;

            .selection{

                width:90%;margin-top:20px;
                display:inline-block;

                select{width:100%;
                    border-radius:5px;
                }
            }
            .body{


                width:90%;height:100px;margin-top:20px;

                display:inline-block;

                textarea{
                    width:100%;
                    border-radius:5px;
                }
            }

        }

        .buttons-container{
            margin-bottom:20px;
            background-color:#f2f2f2;
            overflow:hidden;
            margin-left:30px;

            
            .btn{

                float:left;
                border:2px solid #41b2ba;
                margin-right:20px;
                border-radius:8px;

            }
            

        }
}


