body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5em !important;
  direction:rtl;
}

.tal{text-align:right;}
.tar{text-align:left;}
.tac{text-align:center;}
.ib{display:inline-block;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}

textarea{

  border-color: #41b2ba;
  background-color: transparent;
  border-radius: 4px;

}
select{text-transform: none;
    border-color: #41b2ba;
    background-color: transparent;
    border-radius: 4px;
    padding: 2px 5px;

  }

select option{text-align:right;}  

.capish-btn{

    background-color:#41b2ba;
    border-radius:10px;
    border:0;
    color:#ffffff;
    font-weight:bold;
    padding:5px 8px;
    
}

.autocomplete{position:relative;width:100%;}
.autocomplete .ac-suggestions-list{
  background-color:#fff;
  position:absolute;z-index:99;border:0px solid grey;
  list-style:none;
  padding:0;
  max-height:500px;
  width:100%;
  }
  
.autocomplete ul.ac-suggestions-list li:not(:first-child){margin-top:5px}
.autocomplete ul.ac-suggestions-list li{;padding-bottom:5px;padding-right:10px;
  padding-left:10px;cursor:pointer;}
.autocomplete ul.ac-suggestions-list li:hover{background-color:#41b2ba;color:#fff;}